@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Default Error</h1>
<h2 class="text-danger">There was an error while we proccess your request.</h2>
<div class="text-left h4">  Go back to <a asp-controller="Home" asp-action="Index">Home</a>Page</div>
