<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" />
<link rel="stylesheet" href="~/css/adminpanel.css" />
<title>@ViewBag.Title</title>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#sidebar"
                    aria-controls="offcanvasExample">
                <span class="navbar-toggler-icon" data-bs-target="#sidebar"></span>
            </button>
            <a asp-area="Administrator" asp-action="AdminPanel" asp-controller="Home" class="navbar-brand me-auto ms-lg-0 ms-3 text-uppercase fw-bold">RecipeFinder Admin Panel</a>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start sidebar-nav bg-dark"
         tabindex="-1"
         id="sidebar">
        <div class="offcanvas-body p-0" style="display:flex;flex-direction:column;justify-content:space-between;">
            <nav class="navbar-dark">
                <ul class="navbar-nav">
                    <li>
                        <a asp-area="Administrator" asp-action="AdminPanel" asp-controller="Home" class="nav-link px-3 sidebar-link">
                            <span class="me-2"><i class="bi bi-speedometer"></i></span>
                            <span> Panel</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link px-3 sidebar-link"
                           data-bs-toggle="collapse"
                           href="#layouts">
                            <span class="me-2"><i class="bi bi-layout-split"></i></span>
                            <span>Management</span>
                            <span class="ms-auto">
                                <span class="right-icon">
                                    <i class="bi bi-chevron-down"></i>
                                </span>
                            </span>
                        </a>
                        <div id="layouts">
                            <ul class="navbar-nav ps-3">
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageUsers" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-people-fill"></i></span>
                                        <span> Manage Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageRecipes" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-egg-fried"></i></span>
                                        <span> Manage Recipes</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageComments" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-bookmark"></i></span>
                                        <span> Manage Comments</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="Administrator" asp-action="ManageCategories" asp-controller="Management" class="nav-link px-3 sidebar-link">
                                        <span class="me-2"><i class="bi bi-border-all"></i></span>
                                        <span> Manage Categories</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
            <a asp-area="" asp-action="Index" asp-controller="Home" name="btn" class="btn btn-danger mx-3 my-3" style="width:85%;">Exit</a>
        </div>
    </div>
    <main class="mt-5 pt-3">
        @RenderBody()
    </main>
</body>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.2/dist/chart.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="./js/adminpage.js"></script>