.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#userInput{
    display: none;
}

.row {
    margin-bottom: 10px;
    justify-content:center;
}
.row:nth-of-type(2),.row:nth-of-type(3){
    
    justify-content:flex-start;
}
.col-3 {
    flex: 0 0 17%;
    max-width: 17%;
    
}

.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

input[type="text"], input[type="button"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="button"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #0056b3;
    /*justify-content:center;*/
}


ul {
    list-style-type: none;
    padding: 0;
}

/*ul li {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 5px;
}*/

hr {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}
