@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font: 16px/1.5em "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  display:flex;
  flex-direction:column;
    padding: 0 2em;
    text-align: center;
}

.icon {
    z-index: 10;
    cursor: pointer;
    margin-right: 10px;
    line-height: 60px;
    margin-top: -10px;
    margin-bottom: -6px
}

.icon span {
     background: #f00;
     padding: 7px;
     border-radius: 50%;
     color: #fff;
     vertical-align: top;
     margin-left: -25px
}

.icon img {
     display: inline-block;
     width: 40px;
}

.icon:hover {
    opacity: 0.7;
}

.logo {
    z-index: 10;
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace
}

.notifications {
    z-index: 10;
    width: 300px;
    height: 0px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
.notifications h2 {
    z-index: 10;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    z-index: 10;
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}
.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p {
    color: #aaa;
    font-size: 12px
}
.row-and-pagination{
    display:flex;
    flex-direction:column;
}